# WordPress
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/backups/
# DB / archive / backups
*.sql
*.sql.gz
*.gz
*.zip
# Node / vendor / editor
node_modules/
vendor/
.DS_Store
.env
.idea/
.vscode/
